{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-lg-3 col-md-4">
            <div class="user-identification d-flex flex-wrap align-items-center py-3 px-2 mb-4">

                <div class="icon-letter">
                    <strong>{{ userFLetter }}</strong>
                </div>
                <a class="nav-link" href="/profile">
                    <h4 class="mb-0">
                        {{ user.username|title }}
                    </h4>
                </a>

                <strong class="text-muted d-block">{{ user.email|capfirst }}</strong>
            </div>
        </div>

        {% else %}
        <div class="col-lg-3 col-md-4">
            {% include 'aboutUs.html' %}
        </div>
        {% endif %}

        <div class="col-lg-7 col-md-8">
            <h4 class="border-title pb-2 text-center mb-4s">Following Post</h4>
            <div class="post">
                {% include 'post.html' %}
            </div>

            {% for i in noOfPages %}
            <a href="/post/5/{{i}}"> {{i}}</a>
            {% endfor %}
        </div>
        <div class="col-lg-2 col-md-7 mx-auto">
            {% include 'latestPost.html' %}
        </div>
        {% endblock %}
    </div>
</div>