{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container md-3">
    <div class="row">
        <div class="col-10">
            <h3 class="border-title pb-2 pl-3 mb-3">{{posts.post_title}}</h3>
            <div class="content px-4 py-3 mb-4 mx-4">
                <p class="text-justify">{{posts.post_content}}</p>
                <p class="text-justify">
                    <small class="text-muted">{{posts.post_date}}</small>
                    <a href="/profile/{{posts.username_id}}"><small class="text-muted float-right clearfix">By:
                            {{posts.username}}</small></a>
                </p>
                {% if user.is_authenticated %}
                <strong>
                    <a href="/post/edit/{{posts.id}}" class="card-link">Edit</a>
                </strong>
                {% endif %}
            </div>

            <div class="mb-3">
                <h4 class="border-title pb-2 mb-3 pl-3">Uploaded Image</h4>
                <img style="max-width: 520px; margin:auto" src="{{ posts.post_images.url }}"
                    class="card-img rounded d-block" alt="...">
            </div>
        </div>
        <div class="col-2">
            {% include 'latestPost.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="reacting content px-3 py-3">
                <h4>Join the conversation</h4>
                <strong>
                    Rating: {{rating}}
                </strong>
                <div class="other-comments">
                    {% for c in comments %}
                    <div class="comments d-block">
                        <strong>{{c.username}} </strong> :
                        {{c.comment}}
                    </div>
                    {% endfor %}
                </div>
                <div class="leave-comment mt-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="rating mb-3">
                            <strong class="d-block">
                                Rate IT!!
                            </strong>                           
                            <input type="radio" name="rating" value="1"> 1
                            <input type="radio" name="rating" value="2"> 2
                            <input type="radio" name="rating" value="3"> 3
                            <input type="radio" name="rating" value="4"> 4
                            <input type="radio" name="rating" value="5"> 5
    
                        </div>
                        
                        <h4>Leave a comment</h4>

                        <textarea class="d-block w-75" style="height: 200px;" name="comment" placeholder="Leave a Comment"></textarea><br>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}