<article>
    <div class="about-us">
        <h5 class="border-title pb-2">About us</h5>
        <p class="text-justify box box--responsive">
            GenCom is an official website created for online shopping by GenCom Company. In GenCom, customers can
            purchase goods and product like electronic devices( mobile, laptop, TV). Through GenCom, Customer can
            purchase their desired good of respective brand, company, model and so on. Goods and product transaction of
            GenCom is done through Genesis Company. Through Genesis Company, GenCom provide goods to people efficiently
            and effectively within time for customer satisfaction.
        </p>
    </div>
    <div class="contact">
        <strong>Travelers Journal</strong>
        <address>
            <p>
                P.O. Box 43083 Cascade
                <br>
Burnaby, BC V5G 4S2 <br>   
Canada
            </p>
        </address>
    </div>
</article>