{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
</head>

<body>

    <!-- navbar section -->
    <nav class="main-nav navbar navbar-expand-lg navbar-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">Travelers Journal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active text-center">
                        <a class="nav-link" href="/post">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/post/create">Create Post</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
        
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script>
            /*!
     * jQuery.ellipsis
     * https://github.com/jjenzz/jquery.ellipsis
     * --------------------------------------------------------------------------
     * Copyright (c) 2013 J. Smith (@jjenzz)
     * Dual licensed under the MIT and GPL licenses:
     * https://www.opensource.org/licenses/mit-license.php
     * http://www.gnu.org/licenses/gpl.html
     *
     * adds a class to the last 'allowed' line of text so you can apply
     * text-overflow: ellipsis;
     */
            (function (a) {
                if (typeof define === "function" && define.amd) {
                    define(["jquery"], a);
                } else {
                    a(jQuery);
                }
            })(function (d) {
                var c = "ellipsis",
                    b = '<span style="white-space: nowrap;">',
                    e = { lines: "auto", ellipClass: "ellip", responsive: false };
                function a(h, q) {
                    var m = this,
                        w = 0,
                        g = [],
                        k,
                        p,
                        i,
                        f,
                        j,
                        n,
                        s;
                    m.$cont = d(h);
                    m.opts = d.extend({}, e, q);
                    function o() {
                        m.text = m.$cont.text();
                        m.opts.ellipLineClass = m.opts.ellipClass + "-line";
                        m.$el = d('<span class="' + m.opts.ellipClass + '" />');
                        m.$el.text(m.text);
                        m.$cont.empty().append(m.$el);
                        t();
                    }
                    function t() {
                        if (typeof m.opts.lines === "number" && m.opts.lines < 2) {
                            m.$el.addClass(m.opts.ellipLineClass);
                            return;
                        }
                        n = m.$cont.height();
                        if (m.opts.lines === "auto" && m.$el.prop("scrollHeight") <= n) {
                            return;
                        }
                        if (!k) {
                            return;
                        }
                        s = d.trim(m.text).split(/\s+/);
                        m.$el.html(b + s.join("</span> " + b) + "</span>");
                        m.$el.find("span").each(k);
                        if (p != null) {
                            u(p);
                        }
                    }
                    function u(x) {
                        s[x] = '<span class="' + m.opts.ellipLineClass + '">' + s[x];
                        s.push("</span>");
                        m.$el.html(s.join(" "));
                    }
                    if (m.opts.lines === "auto") {
                        var r = function (y, A) {
                            var x = d(A),
                                z = x.position().top;
                            j = j || x.height();
                            if (z === f) {
                                g[w].push(x);
                            } else {
                                f = z;
                                w += 1;
                                g[w] = [x];
                            }
                            if (z + j > n) {
                                p = y - g[w - 1].length;
                                return false;
                            }
                        };
                        k = r;
                    }
                    if (typeof m.opts.lines === "number" && m.opts.lines > 1) {
                        var l = function (y, A) {
                            var x = d(A),
                                z = x.position().top;
                            if (z !== f) {
                                f = z;
                                w += 1;
                            }
                            if (w === m.opts.lines) {
                                p = y;
                                return false;
                            }
                        };
                        k = l;
                    }
                    if (m.opts.responsive) {
                        var v = function () {
                            g = [];
                            w = 0;
                            f = null;
                            p = null;
                            m.$el.html(m.text);
                            clearTimeout(i);
                            i = setTimeout(t, 100);
                        };
                        d(window).on("resize." + c, v);
                    }
                    o();
                }
                d.fn[c] = function (f) {
                    return this.each(function () {
                        try {
                            d(this).data(c, new a(this, f));
                        } catch (g) {
                            if (window.console) {
                                console.error(c + ": " + g);
                            }
                        }
                    });
                };
            });
    
            $(".box--responsive").ellipsis({ responsive: true });
    
        </script>
</body>

</html>