<!doctype html>
<html>
<head>
<title>Tandoori Staff Hotel & Lodge</title>
<link rel="stylesheet" href="../css/style1.css">
</head>
<body>
<div id="innerbody">


<div class="para" style="background-color:grey">
<div id="para1">
<section>
<p><h2 style="font-size:1cm"> Travelers Journal</h2></p>
<p><h3> <wbr> We envisioned a world.<wbr>
A world where people could share their most cherished experiences.<wbr>
Your childhood kulfi spots.<wbr>
Your week long trips to the hills.<wbr>
Your favourite maggi wale bhaiya.<wbr>
The colours, the culture, the good and the bad of every place you’ve been to.<wbr>
We envisioned a world that celebrates the explorer in you.<wbr>
So, we built it. <wbr> </h3></p>
</section>
</div>
<div>
<figure style="float:right">
<img src="../image/t1.png">
</figure>
</div>
</div>

<div class="para" style="background-color:white">
<div id="para2" style="background-color:white">
<section>
<p><h2 style="font-size:1cm"><b>Why Travelers Journal???</b></h2></p>
<p><h3> You can share all kind of experiences from chai to bungee jump<wbr>like trekking , the culture ,the color and the good things as well as<wbr>bad things about place you have visited. <wbr>You will find lot of people sharing there travelling experience through this application <wbr>where you will come know many things before you visit that place</h3></p>
</section>
</div>
<div>
<figure style="float:left">
<img src="../image/t2.jpg">
</figure>
</div>
</div>

<div class="para" style="background-color:grey">
<div id="para3">
<section>
<p><h2 style="font-size:1cm">A best way to express yourself.</h2></p>
<p><h3>  Travelers Journal is a simple way of bucketing interesting things to do at places.<wbr> Find & share amazing hangout spots, street food stalls, <wbr>sunset points, camping & trekking spots and many more <wbr>things with friends on Travelers Journal<wbr> We all have our life changing experiences and personal favorites at places<wbr> that we feel should be documented and shared with friends. <wbr></h3></p>
</section>
</div>
<div>
<figure style="float:right">
<img src="../image/t3.jpg">
</figure>
</div>
</div>


<div class="people">

<div id="head">
<h1 style="text-align:center;font-size:1.5cm"><b>Back end Devloper</b></h1>
<div style="float:left; width:33%">
<figure>
<img src="../image/am1.jpg">
</figure>
<div style="text-align:center">
<h2> Subin Shrestha </h2>
<p> It is good to be a part of Travelers joural.</p>
</div>
</div>


<div style="float:left; width:33%">
<figure>
<img src="../image/am2.jpg">
</figure>
<div style="text-align:center">
<h2> Rajesh Kawan</h2>
<p>  IT is good to be a part of Travelers Journal</p>
</div>
</div>

<div style="float:left; width:33%">
<figure>
<img src="../image/am3.jpg">
</figure>
<div style="text-align:center">
<h2> Ishan Shrestha</h2>
<p>IT is good to be a part of Traveler Journal</p>
</div>
</div>
</div>



</div>

</div>
</div>


</div>

</body>
</html>
