{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 m-auto">
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>        
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        
                <div class="form-group">
                    <p class="text-muted">
                        Don't have an account!! <a class="ml-3 text-decoration-none" href="/register"> Sign Up</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}