{% extends 'base.html' %}
{% block content %}

<!-- content section -->
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-lg-3 col-md-4">
            <div class="user-identification py-3 px-2 mb-4">
                <div class="username  d-flex flex-wrap align-items-center ">
                    <div class="icon-letter">
                        <strong>{{ userFLetter }}</strong>
                    </div>
                    <a class="nav-link" href="/profile">
                        <h4 class="mb-0">
                            {{ user.username|title }}
                        </h4>
                    </a>
                </div>
                <strong class="text-muted d-block">{{ user.email|capfirst }}</strong>
            
            </div>

            <div class="other-link main-background py-3 mb-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/post/followed/{{ user.username }}">Followed Post</a>
                    </li>
                </ul>
            </div>

            {% include 'notification.html' %}
        </div>

        {% else %}
        <div class="col-lg-3 col-md-4">

        </div>
        {% endif %}

        <div class="col-lg-7 col-md-8">
            <h4 class="border-title text-center pb-2"> Posts</h4>

            {% include 'post.html' %}
        </div>

        <div class="col-lg-2 col-md-7 mx-auto">
            {% include 'followed_travelers.html' %}
        </div>
    </div>
</div>

{% endblock %}