{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mb-3 border-title pb-2">
        <div class="col-10 m-auto">
            <div class="viewed-user d-flex align-items-center flex-column">
                {% for user in posts|slice:":1" %}
                <h3> {{user.username}} </h3>
                {% endfor %}

                <!-- User subscription -->

                {% if follow %}
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary align-self-end" type="submit">Follow</button>
                </form>
                {% else %}
                <strong class="align-self-start">Subscribed</strong>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="posts">
                {% include 'post.html' %}
            </div>
        </div>
        <div class="col-3">
            {% include 'latestPost.html' %}
        </div>
    </div>
</div>
{% endblock %}