<!DOCTYPE html>
<html>
<head>
	<title>contact us</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="contact-us">
		<div class="title"> <!-- this div is created for the title part -->
			<h1>Contact us</h1>
		</div>

		<div class="form">
			<div class="form-items">
				<input class="text" class="input" placeholder="Username">
			</div>
			<div class="form-items">
				<input class="text" class="input" placeholder="Email">
			</div>
			<div class="form-items">
			<textarea class="input message" cols="30" rows="10" placeholder="Message......"></textarea>
			</div>
		</div>

		<div class="btn">
			Submit
		</div>
	</div>
</body>
</html>