{
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: #7f7df9;
}

.contact-us{
	width: 250px;
	background: #fff;
	padding: 50px;
	margin: 100px auto;
	border-radius: 30px;
	position:relative;


}

.title h1{
	letter-spacing:5px;
	margin-bottom: 25px;
	text-align:center;
}
.form,
.form-items{
	width:100%;
}




.form-items .text{
	width: 180px;
	margin-bottom: 12px;
	padding:15px 40px;
	
	background: #ebeef1;
	border: 0;
	outline: none;
	border: 0px;
	border-radius: 30px;
}

.form-items .input.message{
	width: 180px;
	margin-bottom: 12px;
	padding:15px 40px;
	resize: none;
	background: #ebeef1;
	border: 0;
	outline: none;
	border: 0px;
	border-radius: 30px;
}

.btn{
	background: #827ffe;
	text-align: center;
	padding: 12px;
	border-radius: 25px;
	cursor: pointer;
}